/* App.module.css */
.App {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  padding: 20px;
  max-width: 100%;
  margin: auto;
}



.doublesCont {
  margin-top: 15px;
  height: 80vh;
  overflow-y: auto;
}

.doublesCont::-webkit-scrollbar {
  width: 8px;
}

.doublesCont::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

.doublesCont::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.group {
  margin: 10px 0;
  background-color: #ffffff;
  border: 1px solid #C0C0C0;
  border-radius: 4px;
  transition: background-color 0.3s;
  position: relative;
  width: 98%;
}

.group:hover {
  background-color: #e9e9e9;
}

.innerGroup {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.numberContainer {
  display: flex;
  align-items: center;
}

.verticalLine {
  width: 4px;
  background-color: #000;
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  height: 100%;
  position: absolute;
  left: 0;
}

.number {
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 15px;
}

.accounts {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.account {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-bottom: 10px;
  color: #555;
  transition: color 0.3s;
}

.arrow {
  margin: 0 5px;
  color: #000;
}

.account:hover {
  color: #000;
}
